.content
  width: 900px
  margin: 30px auto
  
.collapsible-body 
  padding: 20px
  
.collapsible .collection.with-header
  border-bottom: 1px solid #E0E0E0
  margin-bottom: 20px
  
.collection-header 
  font-weight: bold

.modal 
  max-height: 350px
  min-height: 350px
  
.btn 
  margin-right: 6px
  
.modal .modal-footer .btn
  margin-left: 6px