$board-color: #4D648C

body 
  background-color: #2F1B28
  font-family: sans-serif

.content
  width: 840px  
  margin: 50px auto  
  
.board-wrapper  
  padding: 10px
  width: 840px
  background: $board-color  
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  
.board
  width: 840px
  height: 600px    
    
.generation-info   
  font-size: 20px  
  padding-bottom: 10px
  color: #fff
  
.cell
  width: 11px
  height: 11px
  float: left
  background: #1D1F25
  border-right: 1px solid $board-color
  border-bottom: 1px solid $board-color
  border-collapce: collapce
  margin: 0
  
.alive 
  background: #98D9C6
  
.old
  background: #5BC7AA