body {
  background-color: #4F5060;
}

.content {
  margin: 40px auto;
  width: 1000px;
}

svg {  
  background: #fff;
}

.title {
  text-anchor: middle;
  fill: #2B7772;
  font: 40px sans-serif;    
}