body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.content {
  background: #9EC7F3;
  height: 800px;
  margin: 0 auto;
}

svg {
  background: #9EC7F3;
}

.sphere {
  fill: #9EC7F3;
}

.land {
  fill: #6AB086;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

circle {
  opacity: 0.5;
  fill: #7E142E;
  stroke: #7E142E;
  stroke-width: 0;
}

.hovered {
  stroke: #7E142E;
  stroke-width: 2px;
}

.tooltip {
  position: absolute;
  display: inline-block;
  width: auto;  
  padding: 0 10px;
  opacity: 0;     
  background: #283031;  
  color: #fff;  
  font: 15px sans-serif;
}

.tooltip .title {
  font-weight: bold;
}

.tooltip div {
  margin: 10px 0;
}