@page-background: #F5F5F6;

@track-width: 500px;
@track-height: 0;
@track-border-width: 1px;
@track-color: #9E9E9E; // base color 500

@track-disabled-color: #B6B6B6; // #000000, Opacity 26%
@track-off-color: #B6B6B6; // #000000, Opacity 26%
@track-off-focused-color: #9A9A9A; // #000000, Opacity 38%

@thumb-width: 12px;
@thumb-height: @thumb-width;
@thumb-disabled-width: 0.7*@thumb-width;
@thumb-disabled-height: @thumb-disabled-width;
@thumb-color: #FF9800; // base color 500
@thumb-focused-color: #FBD499; // base color 500, Opacity 38%
@thumb-focused-shadow-height: 10px;
@thumb-focused-shadow: 0px 0px 0px @thumb-focused-shadow-height rgba(255,152,0,0.38);
@thumb-radius: 50%;

@thumb-disabled-color: @track-disabled-color;
@thumb-off-color: @track-off-color;
@thumb-off-focused-color: @track-off-focused-color;
@thumb-off-focused-shadow: 0px 0px 0px @thumb-focused-shadow-height rgba(0,0,0,0.38);

html, body {
  margin: 0;
  padding: 0;
  background: @page-background;
  font-family: "Open Sans", sans-serif;
}

.page {
  margin: 50px;
  text-align: center;  
}

.introduction {
  margin: 0 auto 50px auto;
  width: @track-width + 100px;
  font-size: 1.2em;  
}

h3 {
  margin-top: 50px;
}

a {
  color: @thumb-color;
}

.range-wrapper {
  margin: 20px 0;
}

input[type="range"] {
  margin: 0;
  -webkit-appearance: none;
  width: @track-width;
  height: auto;
  padding: 0;
  border: none;
  z-index: 10;
  position: relative;
  background: transparent;
  
  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: @track-width;
    height: 0;
    cursor: pointer;
    box-shadow: none;
  }
  
  &::-webkit-slider-thumb::before {
    background: @thumb-color;
  }  

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -1/2*@thumb-height;
    box-sizing: border-box;
    width: @thumb-width;
    height: @thumb-height;
    box-shadow: none;
    border-width: 0;
    border-radius: @thumb-radius;
    background: @thumb-color;
    cursor: pointer;    
  }
  
  &.off::-webkit-slider-thumb {       
    background: @page-background;
    border: 2px @thumb-off-color solid;
  }   
  
  &:focus:enabled::-webkit-slider-thumb,
  &:active:enabled::-webkit-slider-thumb {   
    -webkit-appearance: none;
    box-shadow: @thumb-focused-shadow;
    -webkit-box-shadow: @thumb-focused-shadow;
  }
  
  &.off:focus:enabled::-webkit-slider-thumb,
  &.off:active:enabled::-webkit-slider-thumb {  
    border-color: @thumb-off-focused-color;    
    box-shadow: @thumb-off-focused-shadow;
    -webkit-box-shadow: @thumb-off-focused-shadow;
  }  
  
  &.off:focus:enabled::-webkit-slider-runnable-track {
    background: @track-off-focused-color;
  }

  &:focus::-webkit-slider-runnable-track {
    background: @track-color;
  }
  
  &:disabled::-webkit-slider-runnable-track {
    background: @track-disabled-color;
  }
  
  &:disabled::-webkit-slider-thumb::before {
    background: @track-disabled-color;
  }
  
  &:disabled::-webkit-slider-thumb {
    margin-top: -1/2*@thumb-disabled-height;
    width: @thumb-disabled-width;
    height: @thumb-disabled-height;    
    background: @thumb-disabled-color;
    border: 2px @thumb-disabled-color solid;    
    box-shadow: 0px 0px 0px 2px @page-background;
    -webkit-box-shadow: 0px 0px 0px 2px @thumb-focused-shadow-height @page-background;
  }
  
  &.off:disabled::-webkit-slider-thumb {  
    background: @page-background;    
  }

  &::-moz-range-track {
    width: @track-width;
    height: 0;
    box-shadow: none;
    border: @track-border-width solid @track-color;
    cursor: pointer;
  }   
  
  &.off:focus::-moz-range-track {    
    border-color: @track-off-focused-color;
  } 
  
  &::-moz-range-progress {
    background: @thumb-color;
  }   

  &::-moz-range-thumb {
    width: @thumb-width;
    height: @thumb-height;
    box-sizing: border-box;
    box-shadow: none;
    border-width: 0;
    border-radius: @thumb-radius;
    background: @thumb-color;
    cursor: pointer;
  }
  
  &.off::-moz-range-thumb {       
    background: @page-background;
    border: 2px @thumb-color solid;
  }   
  
  &:focus:enabled::-moz-range-thumb,
  &:active:enabled::-moz-range-thumb {    
    box-shadow: @thumb-focused-shadow;
    -moz-box-shadow: @thumb-focused-shadow;
  }
  
  &.off:focus:enabled::moz-range-thumb,
  &.off:active:enabled::moz-range-thumb {  
    border-color: @thumb-off-focused-color;    
    box-shadow: @thumb-off-focused-shadow;
    -webkit-box-shadow: @thumb-off-focused-shadow;
  }  
  
  &.off:focus:enabled::-webkit-slider-runnable-track {
    background: @track-off-focused-color;
  }
  
  &:disabled::-moz-range-progress {
    background: @track-disabled-color;
  } 
  
  &:disabled::-moz-range-thumb {    
    width: @thumb-disabled-width;
    height: @thumb-disabled-height;    
    background: @thumb-disabled-color;
    border: 2px @thumb-disabled-color solid;
    box-shadow: 0px 0px 0px 2px @page-background;
    -webkit-box-shadow: 0px 0px 0px 2px @thumb-focused-shadow-height @page-background;
  }
  
  &.off:disabled::-moz-range-thumb {       
    background: @page-background;
  }

  &::-ms-track {
    width: @track-width;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: (@thumb-width + @thumb-focused-shadow-height/2) 0;
    color: transparent;
    z-index: 20;
  }

  &::-ms-fill-lower {
    box-shadow: none;
    background: @thumb-color;
  }

  &::-ms-fill-upper {
    box-shadow: none;
    background: @track-color;
  }
  
  &:focus::-ms-fill-lower {
    background: @thumb-color;
  }

  &:focus::-ms-fill-upper {
    background: @track-color;
  }

  &::-ms-thumb {
    width: @thumb-width;
    height: @thumb-height;
    box-sizing: border-box;
    box-shadow: none;
    border-width: 0;
    border-radius: @thumb-radius;
    background: @thumb-color;
    cursor: pointer;
    z-index: 50;
  }  
  
  &.zero::-ms-thumb {       
    background: @page-background;
    border: 2px @thumb-color solid;
  } 
  
  &:focus:enabled::-ms-thumb {
    /*box-shadow: @thumb-focused-shadow;
    -ms-box-shadow: @thumb-focused-shadow;*/
  }  
  
  &:disabled::-ms-fill-lower {
    background: @track-color;
  } 
  
  &:disabled::-ms-thumb {    
    width: @thumb-disabled-width;
    height: @thumb-disabled-height;    
    background: @track-color;
    border: 2px @page-background solid;
  }
    
  &.off:disabled::-ms-thumb {       
    background: @page-background;
    border: 2px @track-color solid;
  }
}

/* hack for webkit browsers */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type="range"] {
    height: @track-border-width*2;  
    background: @track-color;
    
    &:disabled {
      background: @track-disabled-color;
    }
    
    &.zero:enabled {
      background: @track-off-color;
    }
    
    &.zero:focus {
      background: @track-off-focused-color;
    }
  }
}