body
  background: #1D1F20
  color: #ffffff
  font-family: sans-serif
  
h1, h3
  text-align: center
  
h3
  font-weight: normal
  
.camera
  width: 600px
  margin: 50px auto
  
.row
  margin: 0
  padding: 0 
  height: 20px
  
.cell  
  width: 20px
  height: 20px
  display: inline-block
  
.wall
  background: #693C3C
  
.room, 
.corridor
  background: #ffffff

.em
  width: 20px
  height: 20px
  vertical-align: top