body
  background: #1D1F20
  color: #ffffff
  font-family: sans-serif
  
h1, h3
  text-align: center
  
h3
  font-weight: normal
  
.score-panel 
  text-align: center
  
.score-item
  display: inline-block
  width: 130px
  margin-top: 40px
  
.camera
  width: 600px
  margin: 20px auto
  
.row
  margin: 0
  padding: 0 
  height: 20px
  
.cell  
  width: 20px
  height: 20px
  display: inline-block
  
.wall
  background: #693C3C
  
.room
  background: #ffffff

.em
  width: 20px
  height: 20px
  vertical-align: top
  
.overlay
  background: #B6B7B5
  opacity: 0.7
  z-index: 10
  margin: auto
  position: absolute
  top: 0 
  left: 0 
  bottom: 0 
  right: 0
  display: none
  
.message 
  width: 300px
  position: absolute
  top: 300px
  left: 0
  right: 0
  margin: 0 auto   
  text-align: center
  padding: 20px
  z-index: 15
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  
.win-message  
  background: #6FB98F
  color: #004344  
  display: none
  
.lose-message  
  background: #FA6541
  color: #293132
  display: none