.content {
  min-width: 300px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-family:"Open Sans", sans-serif;
  color: rgba(0,0,0,0.85);
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}

.info {
  font-size: 15px;
  color: #37373;
}

.search-field {
  margin: 20px 0; 
  width: 100%;
  text-align: left;
}

.search-field:after {
  content: "";
  clear: both;
}

.search-field__input {
  display: inline-block;
  box-sizing: border-box;
  min-width: 300px;
  width: calc(100% - 100px);
  height: 35px;
  margin-bottom: 10px;  
  padding: 0 5px;
  font-size: 19px; 
  color: rgba(0,0,0,0.85);
}

.search-field__buttons-group {
  display: inline-block;
  font-size: 0;
  float: right;
}

.search-field__button {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  box-sizing: border-box;  
  border: 1px solid;
  border-collapse: collapse;
  background: white;
}

.result__text {
  display: none;
}

.result__text_error {
  color: red;
}

.result__link-wrapper {
  margin: 20px 0;
  display: none;
}

.result__map {
  margin: 20px auto;  
  min-width: 300px;  
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}

@media (max-width:680px) {
  .search-field__input {
    width: 100%;
  }
  
  .search-field__buttons-group {
    float: none;
  }
  
  .search-field__button:first-child {
    margin-left: 0
  }
}