.content {
  min-width: 300px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-family:"Open Sans", sans-serif;
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}

.search-field {
  margin: 20px 0; 
  width: 100%;
}

.search-field:after {
  content: "";
  clear: both;
}

.search-field__input {
  display: inline-block;
  min-width: 300px;
  width: calc(100% - 230px);
  margin-bottom: 10px;
}

.search-field__buttons-group {
  display: inline-block;
  font-size: 0;
  float: right;
}

.search-field__button {
  width: 100px;
  margin-left: 10px;
  box-sizing: border-box;
}

.result__text {
  display: none;
}

.result__text_error {
  color: red;
}

.result__link-wrapper {
  margin: 20px 0;
  display: none;
}

.result__map {
  margin: 20px 0;
  min-height: 300px;
}

@media (max-width:680px) {
  .search-field__input {
    width: 100%;
  }
  
  .search-field__buttons-group {
    float: none;
  }
}