.content {
  min-width: 300px;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-family:"Open Sans", sans-serif;
  color: rgba(0,0,0,0.85);
}

.header {
  font-size: 30px;
  margin-bottom: 20px;
}

.info {
  font-size: 15px;
  color: #37373;
}

.search-field {
  margin: 20px 0; 
  width: 100%;
  text-align: left;
}

.search-field:after {
  content: "";
  clear: both;
}

.search-field__input {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 100px);
  height: 35px;
  margin-bottom: 10px;  
  padding: 0 5px;
  font-size: 19px; 
  color: rgba(0,0,0,0.85);
  border: 1px solid #A9A9A9;
}

.search-field__buttons-group {
  display: inline-block;
  font-size: 0;
  float: right;
}

.button {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  box-sizing: border-box;  
  border: 1px solid #A9A9A9;
  border-collapse: collapse;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.button_search {
  background-image: url(//cdn.rawgit.com/Sufflavus/CodepenExamples/master/32_Maailma/vendor/icons8/icons8-Location.svg);
}

.button_clear {
  background-image: url(//cdn.rawgit.com/Sufflavus/CodepenExamples/master/32_Maailma/vendor/icons8/icons8-Delete.svg);
}

.result__text {
  display: none;
}

.result__text_error {
  color: red;
}

.result__link-wrapper {
  margin: 20px 0;
  display: none;
}

.result__link {
  font-size: 15px;
}

.result__map {
  margin: 20px auto;  
  min-width: 300px;  
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
}